* body {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagenes/);
  }
  
  /*PORTADA*/
  
 
  
  
  
  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(255, 255, 255), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 1%;
  }
  .cr-time > span {
      font-size: 17px;
      font-weight: bold;
      color: #ECB2B0;
      
  }
  .cr-desc {
      color: #ffffff;
      font-family: 'Sacramento', cursive;
      
  }
  .cr-block {
      background: #2c2c2ce3;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 30%;
      background-image: url(./imagenes/grises.gif);
  }
  .img1{
    width: 90%;
    margin-left: 6%;
    background-color: #3f433f;
    margin-top: 8%;

  }
  .img2{
    width: 90%;
    margin-left: 6%;
    background-color: #3f433f;
    margin-top: -340%;

  }
  .fondo3{
    margin-top: 70%;
  }
  .espero{
    width: 50%;
    margin-top: -150%;
    margin-left: 27%;
  }
  .Play{
  
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
    color: #9f9d9e;
   
   }
    h5{
    font-size: 30px;
    text-align: center;
    margin-top: -10%;
    
    
    }
    .audio{
      width: 35%;
      height: 20px;
      margin-left: 32%;
      background-color:  #888888;
      
      margin-top: -45%;
      
  }
  
  .logo{
    width: 20%;
    margin-left: 84%;
    margin-top: -28%;
  }
    .tecla a {
      text-decoration: none;
      width: 30px;
      color: #6f6d6f;
    }
    
    .tecla {
    margin-top: -5%;
     margin-left: 50%;
    }
   
    
    .box__copyright {
      max-width: 1200px;
      padding: 0px 40px;
      text-align: center;
      margin-top: -20%;
      
    }
  
    .box__copyright p {
      margin-top: 70px;
      color: #787878;
      font-size: 10px;
      text-align: center;
    }
  
    .box__copyright a {
      text-decoration: none;
      color: rgb(176, 131, 173);
    }

.fondo1{
  margin-top: -1%;
}

.cajaceremonia{
  margin-top: -410%;
}

  
  .linea{
    color:#898989;
    width: 70%;
   margin-left: 15%;
   
  }
  .parrafo2{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
     font-size: 15px;
     color:#f9f9fa;
     margin-top: -548%;
   
     
  }
  .parrafo3{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
     font-size: 20px;
     color: #5f5f5f;
  }
  .click1 {
    font-size: 18px;
    font-weight: 1500;
    border: none;
    color: #fdfdfd;
    background-color: #ecb2b0c8;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(255, 254, 255);
    cursor: pointer;
    margin-left: 33%;
    margin-top: 4%;
    font-family: 'Julius Sans One', sans-serif;
  }
  .caja{
  background-image: url(./imagenes/FONDO.jpg);
  }
  .copas{
    width: 15%;
    margin-left: 25%;
    margin-top: -5%;
    
  }
  .ropa{
    width: 15%;
    margin-left: 25%;
    margin-top: -5%;
    
  }
  
  
  .cardtitle{
    text-align: center;
    font-family: 'Dancing Script', cursive; 
     font-size: 25px;
     color: #888888;
  }
  .cardtext{
    text-align: center;
    font-family: 'Dancing Script', cursive;
     font-size: 18px;
     color: #888888;
    margin-top: -3%;
  }
  .cardtext1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
     font-size: 18px;
     color: #888888;
     margin-top: 3%;
  }
  .ubi{
    width: 15%;
    margin-left: 25%;
    margin-top: 3%;


  }
  
     


 .cbu{
  width: 60%;
  margin-left: 23%;
 }

 .card_card-body img{
  margin-left: 29%;
  background-size: 80%;
  width: 75%;
}


.spinner {
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #3f433f;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
 margin-left: 29%;
 margin-top: 7%;
 }
 
 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }
 
 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }
 
 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }
 
 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }
 
 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }
 
 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }
 
 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }
 
 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }
 
  50% {
   transform: translateY(-10px);
  }
 }

 
@keyframes load-pulse {
  0% {
    transform: scale(0.15);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }


 }
 .cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 18%;
  margin-top: 10%;
}

.cards .red {
  background-color: #424242e4;
  
}

.cards .blue {
  background-color: #424242e4;
}

.cards .green {
  background-color: #424242e4;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 260px;
  width: 240px;
  border-radius: 10px;
  color: #ECB2B0;
  cursor: pointer;
  transition: 400ms;
  font-family: 'Julius Sans One', sans-serif;
  background-image: url(./imagenes/grises.gif);
  background-size: 15%;

}



.cards .card p.tip {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20%;
  font-family: 'Julius Sans One', sans-serif;
}

.cards .card p.second-text {
  font-size: 16px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fafafa;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
 }